body {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);


  }

  form {
    padding: 15px;

 
  }

  .btn-primary {
    background: #434e68;
 background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: lighten;
  }


  .btn-secondary {
      background: #B3315F;
   background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.781) 0%, rgba(0,0,0,0.50) 100%);
   background-blend-mode: lighten;
    
  }

  .card-body {
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
    
  }

#offcanvasCrearPost {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

  .card {
    background: transparent !important;
    border: none !important;
  }

  .card-body {
    display: flex;
    height: 16em; 
    flex-direction: column;
    justify-content: space-between; /* Esto asegura que el contenido superior e inferior estén separados */
  }
  
  .card-text {
    flex-grow: 1; /* Esto permite que el texto de la tarjeta crezca para ocupar espacio disponible */
  }

  .card-img-top-container {
   
    padding-top: 56.25%; /* Relación de aspecto de 16:9 */
    position: relative; /* Posicionamiento relativo para el posicionamiento absoluto de la imagen */
  }
  
  .card-img-top {
    height: 200px; 
    object-fit: cover; /* Esto asegurará que la imagen cubra el área sin estirarse */
  }
  